<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Cards HBS</p>
<img src="{{cards}}">
<img src="{{cards1}}">
<img src="{{cards2}}">
<img src="{{cards3}}">
<img src="{{cards4}}">
<form method="get" action="cards">
    <button  type="submit" class="button1">Refresh</button>
</form>
</body>
</html>