<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Cards HBS</h1>
<img src="{{cards}}">
<img src="{{cards1}}">
<img src="{{cards2}}">
<img src="{{cards3}}">
<img src="{{cards4}}">
<img src="{{cards5}}">
<img src="{{cards6}}">
<img src="{{cards7}}">
<img src="{{cards8}}">
<img src="{{cards9}}">
<img src="{{cards10}}">
<img src="{{cards11}}">

<form method="get" action="cards">
    <button  type="submit" class="button1">Refresh</button>
</form>
</body>
</html>