<!DOCTYPE html>
<html>
<head>
    <script src="../app.js"></script>
    <meta charset="utf-8">
    <title>High Scores</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="backgroundstyle3">
<div style="text-align: center; margin-top: 80px">
    <div style="
    background-color: white;
    width: 300px;
    border: 5px solid black;
    padding: 25px;
    margin: 20px;
    display: inline-block">
        <h1>Hall of Fame</h1>
        <h3>1.{{score1}} <br>
            2.{{score2}}  <br>
            3.{{score3}} <br>
            4.{{score4}} <br>
            5.{{score5}} <br>
            6.{{score6}} <br>
            7.{{score7}} <br>
            8.{{score8}} <br>
            9.{{score9}} <br>
            10.{{score10}}<br>
        </h3>
        <form method="get" action="/">
            <div style="text-align: center">
                <button type="submit" >Main Page</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>





